<div class="row">
  <div class="col-sm-12 col-lg-6 ">
    <div class="chart-border">
      <div class="text-center"><b>singal data set Bar chart</b></div>
      <ngx-frappe-charts-bar [type]="'bar'" [data]="barchart1" [height]="500"></ngx-frappe-charts-bar>
    </div>
  </div>
  <div class="col-sm-12 col-lg-6">
    <div class="chart-border">
      <div class="text-center"><b>multi data set Bar chart</b></div>
      <ngx-frappe-charts-bar [type]="'bar'" [data]="barchart2" [colors]="colors"
        [height]="500"></ngx-frappe-charts-bar>
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col-sm-12 col-lg-6">
    <div class="chart-border">
      <div class="text-center"><b>multi data set stacked Bar chart</b></div>
      <ngx-frappe-charts-bar [type]="'bar'" [data]="barchart3" [barOptions]="barOptions"
        [colors]="colors" [height]="500"></ngx-frappe-charts-bar>
    </div>

  </div>
  <div class="col-sm-12 col-lg-6">
    <div class="chart-border">
      <div class="text-center"><b>multi data set Bar chart</b></div>
      <ngx-frappe-charts-bar [type]="'bar'" [data]="barchart3" [barOptions]="barOptions"
        [colors]="colors" [height]="500" [valuesOverPoints]="'true'"></ngx-frappe-charts-bar>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-sm-12 col-lg-6">
    <div class="chart-border">
      <div class="text-center"><b>multi data set stacked Bar chart</b></div>
      <div class="text-center">with region</div>
      <ngx-frappe-charts-bar [type]="'bar'" [data]="barchart3" [barOptions]="barOptions"
        [colors]="colors" [height]="500" [yRegions]="yRegions"
        [valuesOverPoints]="'true'"></ngx-frappe-charts-bar>
    </div>

  </div>
  <div class="col-sm-12 col-lg-6">
    <div class="chart-border">
      <div class="text-center"><b>multi data set Bar chart</b></div>
      <div class="text-center">with region and marker</div>
      <ngx-frappe-charts-bar [type]="'bar'" [data]="barchart3" [barOptions]="barOptions"
        [colors]="colors" [height]="500" [yRegions]="yRegions" [yMarkers]="yMarkers"
        [valuesOverPoints]="'true'"></ngx-frappe-charts-bar>
    </div>
  </div>
</div>
