<div class="container">

  <div class="row mt-5">
    <div class="col-12 chart-border">
      <div class="text-center mt-2"><b>NGX-FRAPPE-CHART</b></div>
      <div class="text-center mt-2 mb-2">A simple and easy to use angular
        wrapper on top of frappe
        for generating awesome graphs.</div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12 chart-border">
      <div class="text-center"><b>Bar chart</b></div>
      <ngx-frappe-charts-bar [type]="'bar'" [data]="barChartData" [height]="500"
        [yMarkers]="yMarkers" [yRegions]="yRegions" [colors]="barChartColor"></ngx-frappe-charts-bar>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 chart-border">
      <div class="text-center"><b>Line chart</b></div>
      <ngx-frappe-charts-bar [type]="'line'" [data]="lineChartData" [height]="500"
        [yMarkers]="yMarkers" [yRegions]="yRegions"></ngx-frappe-charts-bar>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12 chart-border">
      <div class="text-center"><b>Mixed-Axis chart</b></div>
      <ngx-frappe-charts-bar [type]="'axis-mixed'" [data]="mixedChartData"
        [height]="500" [yMarkers]="yMarkers" [yRegions]="yRegions" [colors]="lineChartColor"></ngx-frappe-charts-bar>
    </div>
  </div>


  <div class="mt-5">
    <app-pie-chart></app-pie-chart>
  </div>


  <div class="row mt-5 mb-5">
    <div class="col-12 chart-border" style="overflow-x: auto">
      <div class="text-center"><b>Heatmap chart</b></div>
      <ngx-frappe-charts-heatmap [data]="heatmapData"></ngx-frappe-charts-heatmap>
    </div>
  </div>

  <div class="mt-5">
    <app-bar-chart></app-bar-chart>
  </div>

  <div class="mt-5">
    <app-line-chart></app-line-chart>
  </div>


</div>
